{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="{% static 'components/bootstrap/dist/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'components/semantic/dist/semantic.min.css' %}">
    <script src="{% static 'components/semantic/dist/semantic.min.js' %}"></script>

    <style>
      div.title{
      text-align:center;
      font-size:64px;
      font-weight:900;
      }
    </style>
  </head>
  <body>
    <div class="title">ㅊㅊ<br>ㅅㅅ</div>
  </body>
</html>
